<br/>
<h2>GameFinder</h2>
<a href="/User/Index?id=@ViewBag.CurrentUser.ID">Back to User Home</a>
@*Details of a specific game*@
@TempData["IsLike"]
<h2>@ViewBag.GameDetails.Name</h2>
<img src="http:@ViewBag.GameDetails.ImageURL" />
<input type="button" value="Like" onclick="location.href='@Url.Action("LikeGame","User", new { isLike = true, userID = ViewBag.CurrentUser.ID, gameID = ViewBag.GameDetails.ID })'" />
<input type="button" value="Dislike" onclick="location.href='@Url.Action("LikeGame","User", new { isLike = false, userID = ViewBag.CurrentUser.ID, gameID = ViewBag.GameDetails.ID })'" />

@*Next Game*@
<p>Priority: @ViewBag.GameDetails.Priority</p>

<p>Summary: @ViewBag.GameDetails.Summary</p>
<p>Genre:</p>
<ul>
    @foreach (var genre in @ViewBag.GameDetails.Genres)
    {
        <li>@genre.Name</li>
    }
</ul>
<p>Platform:</p>
<ul>
    @foreach (var platform in @ViewBag.GameDetails.Platforms)
    {
        <li>@platform.Name</li>
    }
</ul>
<a href="@ViewBag.GameDetails.URL">Link to IGDB page</a>
<p>Keyword:</p>
<ul>
    @foreach (var keyword in @ViewBag.GameDetails.Keywords)
    {
        <li>@keyword.Name</li>
    }
</ul>





