@{ViewBag.Title = ViewBag.Game.Name + " Details";}
@*Details of a specific game*@
<br />
<h2>@ViewBag.Game.Name</h2>
<p>Summary: @ViewBag.Game.Summary</p>
<p>Genre:</p>
<ul>
    @foreach (var genre in @ViewBag.Game.Genres)
    {
        <li>@genre.Name</li>
    }
</ul>
<p>Platform:</p>
<ul>
    @foreach (var platform in @ViewBag.Game.Platforms)
    {
        <li>@platform.Name</li>
    }
</ul>
<a href="@ViewBag.Game.URL">Link to IGDB page</a>
<p>Keyword:</p>
<ul>
    @foreach (var keyword in @ViewBag.Game.Keywords)
    {
        <li>@keyword.Name</li>
    }
</ul>
<a href="/User/Index">Back to User Home</a>





