@{ViewBag.Title = ViewBag.Game.Name + " Details";}
@*Details of a specific game*@
<br />
<h2>@ViewBag.Game.Name</h2>
<p>Summary: @ViewBag.Game.Summary</p>
<p>Genre:</p>
<ul>
    @foreach (var genre in @ViewBag.Game.Genres)
    {
        <li>@genre.Name</li>
    }
</ul>
<p>Platform:</p>
<ul>
    @foreach (var platform in @ViewBag.Game.Platforms)
    {
        <li>@platform.Name</li>
    }
</ul>
<a href="@ViewBag.Game.URL" target="_blank">Link to IGDB page</a>
<p>Keyword:</p>
<ul>
    @foreach (var keyword in @ViewBag.Game.Keywords)
    {
        <li>@keyword.Name</li>
    }
</ul>
@if (ViewBag.User != null)
{
    <a href="/User/Index?id=@ViewBag.User.ID">Back to User Home</a>
}
else
{
    <a href="/Game/ListAllGames">Back to Game List</a>
}





